<p></p>
<div class="example-container">
    <div>
        <mat-form-field>
            <textarea matInput placeholder="Author Name"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <textarea matInput placeholder="Title"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Genre">
                <mat-option value="option">Fantasy</mat-option>,
                <mat-option value="option">Adventure</mat-option>,
                <mat-option value="option">Contemporary</mat-option>,
                <mat-option value="option">Dystopian</mat-option>,
                <mat-option value="option">Mystery</mat-option>,
                <mat-option value="option">Thriller</mat-option>,
                <mat-option value="option">Historical Fiction</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Price">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder='Bought/Want to buy?'>
                <mat-option value="option">Bought</mat-option>
                <mat-option value="option">Want to buy</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<nav>
    <p>
        <button id="buttonsubmit" mat-button  style="margin: 5px">Submit</button>
    </p>
</nav>
